* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  }

  .container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
     text-align: center;
  }

header {
  width: 100%;
  color: white;
  background-color: rgb(47, 47, 47);
  text-transform: uppercase;
  font-weight: 300;
}
section {
  text-align: center;
  margin-bottom: 10px;
}

form {
  margin: 10px auto;
  padding: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
textarea,
select {
  background-color: rgba(104, 103, 103, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  
} 

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="address"]:focus,
textarea:focus,
select:focus {
  border: 3px solid rgb(30, 30, 113);
}

#zipcode {
  width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px;
 
}
 
label.light {
  font-weight: 300;
  display: inline;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(83, 211, 192);
  border-radius: 5px;
  width: 100%;
  border: none;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  margin-bottom: 30px;
  font-family: 'Merriweather';
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
