* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

 

  
  .container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .third-line {
    height: 2px;
    color: black;
    background-color: black;
    margin-bottom: 35px;
    border-top: 1px solid black;
  }

  .first-line {
    width: 95%;
    height: 5px;
    color: black;
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-top: 1px solid black;
  }

  .second-line {
    width: 95%;
    height: 2px;
    color: black;
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    border-style: inset;
    border-top: 1px solid black;
  }

  h2 {
     text-align: center;
  }

  h3 {
    padding-bottom: 10px;
    font-size: 1.32em;
  }

header {
  width: 100%;
  color: white;
  background-color: rgb(77, 77, 77);
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 8%;
  padding-bottom: 8%;
}

.heading {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  margin-top: 0;
}

.heading p {
  color: rgba(104,103,103,0.5);
}

form {
  margin: 10px auto;
  padding: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

form p {
  color: rgba(77,77,77);
  opacity: 0.5;
  font-style: italic;
  text-align: center;
 margin-bottom: 50px;
}



legend {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
  color: rgba(104,103,103,0.9);
}

.newsletter {
  margin-bottom: 16px;
  margin-top: 18px;
}

.news {
  margin-bottom: 15px;
}

.other {
  margin-top: 16px;
}

input::placeholder {
  text-align: right;
  opacity: 0.5;
  font-style: italic;
  font-size: 14px;
}

textarea::placeholder {
  text-align: right;
  opacity: 0.5;
  font-style: italic;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
textarea,
select {
  background-color: rgba(104, 103, 103, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 5px;
  color: rgba(104,103,103,0.5);
} 

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="address"]:focus,
textarea:focus,
select:focus {
  border: 3px solid rgb(30, 30, 113);
  background-color: rgb(184, 228, 229);
  transition: background-color 2s;
}


#zipcode {
  width: 50%;
}

#topics {
  background-color: blanchedalmond;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px 12px 0;
  
 
}
 
label.light {
  font-weight: 400;
  display: inline;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(83, 211, 192);
  border-radius: 5px;
  width: 100%;
  border: none;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  margin-bottom: 5px;
  }

  



@media (min-width: 768px) {
  .user {
    display: flex;
  }

   header {
    padding-top: 3%;
    padding-bottom: 3%;
   }

   .heading {
    margin: 20px auto;
   }

   h3 {
    font-size: 19px;
   }


   h2 {
    font-size: 1.2em;
   }

   

    .heading p {
      font-size: 14px;
    }

  .user label {
    width: 30%;
    margin-right: 10px;
    font-size: 14px;
  }

  .user input select {
    width: 70%;
  }
  
  form {
    width: 70%;
  }

.user-zip {
  display: flex;

}

#zipcode {
  width: 25%;
}

.user-zip label {
margin-right: 57px;
}
 
legend {
  font-size: 17px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
textarea,
select {
  font-size: 14px;
  font-weight: 400;
}

input::placeholder {
  font-size: 12px;
}

button {
  font-size: 15px;
}

form p {
  font-size: 14px ;
}

label.light {
  font-size: 14px;
  font-weight: 400;
}

.first-line,
.second-line {
  width: 68%;
}

}